.big-button {
    background: $turquoise;
    border: none;
    border-radius: $radius-size;
    color: white;
    font-size: $l-size;
    font-weight: bold;
    padding: 2.2rem;
    width: 100%;
}

.big-button:disabled {
    opacity: 0.6;

    &:hover {
        background: $turquoise;
    }
}

.big-button:hover {
    background: darken($turquoise, 5%);
}

// small button
.button {
    background: $turquoise;
    border: none;
    border-radius: $radius-size;
    color: white;
    font-weight: 300;
    padding: $s-size;

    &:hover {
        background: darken($turquoise, 10%);
    }
}

.button--link {
    background: none;
    color: $turquoise;
    padding: 0;

    &:hover {
        background: none;
        color: darken($turquoise, 10%);
    }

    &:disabled {
        opacity: 0.5;

        &:hover {
            background: none;
            color: $turquoise;
        }
    }
}
