.big-button {
    background: $secondary-color;
    border: none;
    border-radius: $radius-size;
    color: $white;
    font-size: $l-size;
    font-weight: bold;
    padding: 2.2rem;
    width: 100%;
}

.big-button:disabled {
    opacity: 0.6;

    &:hover {
        background: $secondary-color;
    }
}

.big-button:hover {
    background: darken($secondary-color, 5%);
}

// small button
.button {
    background: $secondary-color;
    border: none;
    border-radius: $radius-size;
    color: $white;
    font-weight: 500;
    padding: $s-size $m-size;

    &:hover {
        background: darken($secondary-color, 5%);
    }
}

.button-dark {
    background: $grey;
    margin-right: $m-size;

    &:hover {
        background: darken($grey, 5%);
    }
}

.button--link {
    background: none;
    color: $secondary-color;
    margin: 0 $xs-size;
    padding: 0;
    width: auto;

    &:hover {
        background: none;
        color: darken($secondary-color, 5%);
    }

    &:disabled {
        opacity: 0.5;

        &:hover {
            background: none;
            color: $secondary-color;
        }
    }
}
