.header {
    background: $primary-color;
    color: $white;
    padding: $ml-size 0;
}

.header__title {
    font-size: $font-size-xlarge;
    margin: 0;
}

.header__subtitle {
    color: $secondary-color;
    font-size: $m-size;
    font-weight: 400;
    margin: 0;
}
