.menu-icon {
    color: $secondary-color;
    font-size: $font-size-small;

    &:hover {
        color: white;
    }
}

.MuiIconButton-root {
    &:hover {
        // remove color change
        background-color: rgba(240, 148, 60, 0) !important;
    }
}

.MuiListItem-button {
    &:hover {
        background-color: rgba(253, 214, 33, 0.5) !important;
    }
}

.menu-item {
    font-size: 1.4rem !important;
}
