.menu-icon {
    color: $white;
    font-size: $font-size-small;
    margin: 12px !important;

    &:hover {
        color: white;
    }
}

.MuiIconButton-root {
    padding: 0px 5px !important;

    &:hover {
        // remove color change
        background-color: rgba(240, 148, 60, 0) !important;
    }
}

.MuiListItem-button {
    &:hover {
        background-color: rgba(253, 214, 33, 0.5) !important;
    }
}

.menu-item {
    font-size: 1.4rem !important;
}

// styles for auto-delete switch
.MuiSwitch-switchBase {
    top: 0.2px !important;
}

.MuiSwitch-track {
    background-color: lighten($primary-color, 5%) !important;
}

.Mui-checked {
    color: $secondary-color !important;
}
