.options-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tally {
    font-size: $font-size-xxs;
    margin: 1.9rem $m-size;
    height: 100%;
}

.tablePagination {
    margin-right: $m-size;
}

.MuiTablePagination-displayedRows,
.MuiTablePagination-select,
.MuiTablePagination-menuItem {
    font-size: $font-size-xxs !important;
    font-family: $raleway-font !important;
}

.MuiTablePagination-select {
    padding-top: 8px !important;
}
