.options-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tally {
    font-size: $font-size-xxs;
    margin-left: $m-size;
    height: 100%;
}

.tablePagination {
    margin-right: $m-size;
}

.css-16c50h-MuiInputBase-root-MuiTablePagination-select,
.css-10by3a5-MuiButtonBase-root-MuiMenuItem-root-MuiTablePagination-menuItem,
.css-levciy-MuiTablePagination-displayedRows {
    font-size: $font-size-xxs !important;
    font-family: $raleway-font !important;
}
