.options-footer {
    display: flex;
    justify-content: space-between;
}

.tally {
    font-size: $font-size-xxs;
    margin: $m-size 0 $xs-size 0;
    padding-left: $m-size;
    padding-top: $xs-size;
}

.pagination-container {
    display: flex;
    flex-direction: row;
    margin: $m-size $m-size $xs-size 0;
}

.pagination {
    padding-left: $m-size;
}

// todo: check font size
// todo: scrollbar on content - keep header sticky

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8px 30px 9px 10px !important;
}
