.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $m-size 0 $xs-size 0;
}

// todo: both rows and paging should be on the right
// todo: check font size
// todo: scrollbar on content - keep header sticky

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8px 30px 9px 10px !important;
}
