.widget {
    margin: 0 0 $ml-size 0;
}

.widget__message {
    border: 1px solid lighten($primary-color, 50%);
    margin: 0;
    padding: $ml-size $m-size;
    text-align: center;
}

.widget-header {
    align-items: center;
    background: $primary-color;
    // border-top-left-radius: $radius-size;
    // border-top-right-radius: $radius-size;
    color: $white;
    display: flex;
    justify-content: space-between;
    margin: $m-size 0 0 0;
    padding: $xs-size 0 $xs-size $m-size;
}

.widget-header__title {
    font-size: $font-size-xs;
    margin: 0;
}

.widget-content {
    max-height: 22rem;
    // overflow-y: auto;

    &::-webkit-scrollbar {
        /* width of the entire scrollbar */
        width: 1.2rem;
    }

    &::-webkit-scrollbar-track {
        /* color of the tracking area */
        background: $off-white;
    }

    &::-webkit-scrollbar-thumb {
        /* color of the scroll thumb */
        background-color: $secondary-color;
        /* creates padding around scroll thumb */
        border: 3px solid $secondary-color;
    }
}

@media (min-width: $desktop-breakpoint) {
    .widget {
        margin: 0 0 $xl-size 0;
    }

    .widget-header {
        margin: $xl-size 0 0 0;
    }

    .widget-content {
        max-height: 20.9rem;
    }
}
