@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

$poppins-font: 'Poppins';
$raleway-font: 'Raleway';

html {
    font-size: 52.5%;
}

body {
    background: $light-grey;
    font-family: $raleway-font;
    font-size: $m-size;
    color: $dark-grey;
    overflow: hidden;

    &::-webkit-scrollbar {
        /* width of the entire scrollbar */
        width: 1.2rem;
    }

    &::-webkit-scrollbar-track {
        /* color of the tracking area */
        background: $off-white;
        border-bottom-right-radius: $radius-size;
    }

    &::-webkit-scrollbar-thumb {
        /* color of the scroll thumb */
        background-color: $secondary-color;
        /* roundness of the scroll thumb */
        border-bottom-right-radius: $radius-size;
        /* creates padding around scroll thumb */
        border: 3px solid $secondary-color;
    }
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

@media (min-width: $desktop-breakpoint) {
    html {
        font-size: 62.5%;
    }
}
