// Colors
$dark-grey: #393e46;
$dark-purple: #272343;
$turquoise: #bae8e8;
$light-turquoise: #e3f6f5;
$white: #fff;
$off-white: #e7e6e1;

$cream: #f6f4e6;
$mustard: #fdd621;
$grey: #52575d;
$darker-grey: #41444b;

$primary-color: $darker-grey;
$secondary-color: $mustard;
$accent-color: $cream;

// Spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.6rem;
$desktop-breakpoint: 45rem;
$radius-size: 5px;

// Font sizes
$font-size-xlarge: 40px;
$font-size-large: 30px;
$font-size-medium: 25px;
$font-size-small: 20px;
$font-size-xs: 15px;
