// Colors
$green-color: #314e52;
$cream-color: #f7f6e7;
$orange-color: #f2a154;
$dark-grey: #393e46;

$dark-purple: #272343;
$turquoise: #bae8e8;
$light-turquoise: #e3f6f5;
$white: #fff;
$off-white: #e7e6e1;

// Spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.6rem;
$desktop-breakpoint: 45rem;
$radius-size: 4px;

// Font sizes
$font-size-xlarge: 40px;
$font-size-large: 30px;
$font-size-medium: 25px;
$font-size-small: 20px;
